.abilities {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.abilities h2, .abilities p {
    font-family: var(--montserrat);
    font-weight: 300;
    text-align: center;
}

.abilities h2 {
    font-size: 3rem;
}

.abilities p {
    font-size: 1.13rem;
    width: 19.81rem;
}

.containerAbilities {
    height: 50%;
    width: 90.00rem;
}

.containerAbilities h2 {
    text-align: initial;
}

.containerAbilities p, .containerAbilities figure {
    width: 50%;
    text-align: initial;
}

.containerAbilities figure {
    display: flex;
    justify-content: flex-end;
}

figure i {
    color: var(--yellow);
    transition: .75s ease;
}

.containerAbilities .item {
    justify-content: space-between;
    display: flex;
}

.containerAbilities .item:hover {
    background-color: var(--gray);
}
.item:hover .estrelas i{
    margin-left: 5px;
}

.tools, .skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.toolsTxt {
    margin: 3rem 0 0 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}