#cabeça_x0020_do_x0020_gato{
    animation: gato 15s ease-in-out  infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#braço_x0020_esquerdo{
    animation: braco-esquerdo 2s ease-in-out  infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#braço_x0020_direito{
    animation: braco-direito 2s ease-in-out  infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#cabeça{
    animation: cabeça 8s ease-in-out  infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#sombrancelha{
    animation: sombrancelha-esquerda 7s ease-in-out  infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#sombrancelha_0{
    animation: sombrancelha-direita 7s ease-in-out  infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes gato {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-40deg);
    }
    80%{
        transform: rotate(-40deg);
    }
    90%{
        transform: rotate(4deg);
    }
}

@keyframes cabeça{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-4deg);
    }
    60%{
        transform: rotate(-4deg);
    }
    80%{
        transform: rotate(1deg);
    }
}

@keyframes braco-esquerdo{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    70%{
        transform: rotate(-1deg);
    }
}

@keyframes braco-direito{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(1deg);
    }
    
}

@keyframes sombrancelha-esquerda{
    0%{
        transform: translate(0deg);
    }
    45%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(12deg);
    }
    
}

@keyframes sombrancelha-direita{
    0%{
        transform: translate(0deg);
    }
    45%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(-12deg);
    }
    
}


#braço_x0020_Direito {
    animation: braco-direito-img2 10s ease-in  infinite;
    transform-origin: top;
    transform-box: fill-box;
}

#interrogação {
    animation: braco-esquerdo 3s linear  infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#cabeçaimg2{
    animation: cabeçaimg2 10s ease-in  infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes braco-direito-img2{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(-25deg);
    }
    80%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes cabeçaimg2{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(20deg);
    }
    80%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*====================Animação do site================*/

[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
} 

[data-anime="right"] {
    transform: translate3d( 50px, 0, 0);
} 

[data-anime="top"] {
    transform: translate3d( 0px, -50px, 0);
} 

[data-anime="bottom"] {
    transform: translate3d(0px, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}