.home {
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
}

.call {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 53.94rem;
    justify-content: center;
    width: 50%;
}

.call h1 {
    text-align: center;

    font-family: var(--rubik);
    font-size: 4rem;
    width: 44.94rem;
}

.call p {
    font-family: var(--montserrat);
    font-size: 1.13rem;
    text-align: center;
    margin: 1rem 0 0 0;
    width: 24.56rem;
}

.call .btn {
    border: 0;
    font-size: 2.25rem;
    font-family: var(--montserrat);
    font-weight: 300;
    height: 4.81rem;
    margin: 2.375rem 0 0 0;
    width: 21.13rem;

    transition: .75s ease;
}

.call .btn:hover {
    color: var(--yellow);
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.1);
}

.homeImage {
    align-items: center;
    display: flex;
    height: 53.94rem;
    justify-content: center;
    width: 50%;
}

.homeImage img {
    height: 26.63rem;
    width: 26.63rem;
}

.toAbout {
    align-self: flex-end;
    display: flex;
    justify-content: center;

    position: relative;
    right: 50%;
    transform: translateX(50%);
    
    margin-bottom: -10px;
    width: 100vw;
}