
/*animação do site*/

[data-anime] {
    opacity: 0;
    transition: .75s ease-in-out;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
} 

[data-anime="right"] {
    transform: translate3d( 50px, 0, 0);
} 

[data-anime="top"] {
    transform: translate3d( 0px, -50px, 0);
} 

[data-anime="bottom"] {
    transform: translate3d(0px, 50px, 0);
}

[data-anime = "bottom-grow"] {
    transform: translate3d(0px, 50px, 0) scale(.98);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}