/* Small devices (landscape phones, 576px and up*/
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    body article {
        margin-bottom: 100px;
    }
    main .center {
        height: auto;
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    main .sobre-mim {
        flex-direction: column;
        max-width: 90vw;
    }
    .center figure svg {
        width: 90vw;
    }

    .sobre-mim .buttons {
        display: flex;
    }

    .sobre-mim button{
        width: 50vw;
        padding: .2rem;
    }

    /*=====Fim da section .sobre=====*/
    .oquefaco .center {
        height: auto;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    .oquefaco .texto {
        min-width: 90vw;
    }

    /*=====Fim do article .oquefaco=====*/

    .hobby .center {
        height: auto;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    .hobby .texto {
        width: 90vw;
    }

    #slider {
        width: 90vw;
    }
    #slider span {
        width: 90vw;
    }
    #slider span .center{
        min-width: 90vw;
    }

    /*=====Fim do .hobby=====*/

    [data-anime="left"] {
        transform: translate3d(-10px, 0, 0);
    } 
    
    [data-anime="right"] {
        transform: translate3d( 10px, 0, 0);
    } 
    
    [data-anime="top"] {
        transform: translate3d( 0px, -10px, 0);
    } 
    
    [data-anime="bottom"] {
        transform: translate3d(0px, 10px, 0);
    }
    
    [data-anime].animate {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 1044px) { 
    .sobre-mim .buttons {
        display: flex;
    }

    .sobre-mim button{
        width: 50vw;
        padding: .2rem;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1440px) { 
    [data-anime="left"] {
        transform: translate3d(-10px, 0, 0);
    } 
    
    [data-anime="right"] {
        transform: translate3d( 10px, 0, 0);
    } 
    
    [data-anime="top"] {
        transform: translate3d( 0px, -10px, 0);
    } 
    
    [data-anime="bottom"] {
        transform: translate3d(0px, 10px, 0);
    }
    
    [data-anime].animate {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
 }