.projects .texto {
    text-align: center;
}

.projects h2, .projects p {
    font-family: var(--montserrat);
    text-align: center;
    font-weight: 300;
}

.projects h2 {
    font-size: 3.00rem;
}

.projects p {
    font-size: 1.13rem;
    margin: 0 0 2.8125rem 0;
}

.projectsContent {
    display: flex;
}

.projectsImage, .projectsText {
    align-items: center;
    display: flex;
    justify-content: center;

    height: 39.06rem;
    width: 50%;
}

.projectsText p {
    font-size: 3.00rem;

    width: 39.75rem;
}